
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;

    .title {
        font-size: x-large;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: #4f4f4f;
        }
    }

    

    .actions {

        .auth {
            display: flex;
            gap: 30px;

            .login {
                border: 1px solid black;
                color: black;
                border-radius: 16px;
                width: 160px;
                height: 30px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .register {
                border: 1px solid black;
                background-color: black;
                color: white;
                border-radius: 16px;
                width: 160px;
                height: 30px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .logged-actions {

            display: flex;
            justify-content: center;
            gap: 30px;

            .upload-image {
                border: 1px solid black;
                background-color: black;
                color: white;
                border-radius: 16px;
                width: 200px;
                height: 30px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .logout {
                border: 1px solid black;
                color: black;
                border-radius: 16px;
                width: 160px;
                height: 30px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }        
    }
}
